# Dependencias
node_modules/
dist/
build/

# Variables de entorno
.env
.env.local
.env.docker

# Archivos de log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos del sistema operativo
# .DS_Store
# Thumbs.db

# Google Drive específicos
**/Icon?
**/desktop.ini
**/~*

Carpetas temporales de sincronización de Drive
**/.tmp.drivedownload/
**/.tmp.driveupload/